html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.uniquifier {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  background-color: #d799f2;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#my-p5-sketch {
  position: absolute;
  z-index: 0;
}

h1 {
  color: #8b2a8c;
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
  letter-spacing: 0.2rem;
  transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
}

h1:hover {
  color: #b149bf;
  transform: scale(1.1);
  text-shadow: 0 0 10px #d799f2, 0 0 20px #d799f2, 0 0 30px #d799f2;
}

.main {
  position: relative;
  z-index: 1;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 1rem;
}

a {
  color: #b149bf;
  text-decoration: none;
  display: block;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid #b149bf;
  border-radius: 15px;
}
.botonera {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 15px;
}

.boton {
  text-align: center;
  background-color: #d799f2;
  transition: background-color 0.3s ease;
  border-radius: 15px;
  opacity: 85%;
}

.boton a {
  text-decoration: none;
  color: #3f0359;
  font-family: "Parkinsans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.boton:hover {
  background-color: #d799f2;
}

a:hover {
  box-shadow: 0px 5px 20px;
  border: 1px solid #b149bf;
}
